<h1>Veuillez sélectionner une option ci-dessous pour commencer.</h1>
<mat-grid-list cols="2" rowHeight="4:1">
  <mat-grid-tile [routerLink]="'/listTasks'">
    <mat-icon>list_alt</mat-icon>
    Visualiser et Déployer un Workflow
  </mat-grid-tile>
  <mat-grid-tile [routerLink]="'/taskStatistics'">
    <mat-icon>bar_chart</mat-icon>
    Statistiques
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-icon>filter_3</mat-icon>
    3
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-icon>filter_4</mat-icon>
    4
  </mat-grid-tile>
</mat-grid-list>
