<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h2>Visualiser et Initier le workflow</h2>

    <button
      mat-icon-button
      [routerLink]="['/dashboardGrid']"
      class="btn btn-light"
    >
      <i class="material-icons">arrow_back</i>
    </button>
  </div>

  <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
    <div class="alert alert-info text-center" role="alert">
      Veuillez commencer par sélectionner un projet. N'oubliez pas que vous
      pouvez également appliquer des filtres!
    </div>
    <div class="form-group">
      <label for="Project Name">Nom du projet: </label>
      <select
        formControlName="project"
        (change)="onProjectSelected()"
        class="form-control"
      >
        <option [ngValue]="null">---</option>
        <option *ngFor="let project of projectList" [ngValue]="project">
          {{ project.projectName }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="Phase Name"> Nom de la phase: </label>
      <select
        formControlName="phase"
        (change)="onPhaseSelected()"
        class="form-control"
      >
        <option [ngValue]="null">---</option>
        <option *ngFor="let phase of phaseList" [ngValue]="phase">
          {{ phase.phaseName }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <label for="Step Name"> Nom de l'étape: </label>
      <select
        formControlName="step"
        (change)="onStepSelected()"
        class="form-control"
      >
        <option [ngValue]="[]">---</option>
        <option *ngFor="let step of stepList" [ngValue]="step">
          {{ step.stepName }}
        </option>
      </select>
    </div>

    <div class="form-group">
      <button
        (click)="resetFilters()"
        class="btn btn-dark"
        style="margin-right: 10px"
      >
        Supprimer les filtres de phase ou d'étape
      </button>
      <button
        type="submit"
        name="submit"
        [disabled]="tasksInitiated"
        class="btn btn-primary"
        style="margin-left: 10px"
      >
        Déployer le flux de travail
      </button>
    </div>
  </form>

  <div
    id="network"
    style="
      width: 100%;
      height: 600px;
      border: 1px solid lightgray;
      overflow: hidden;
      margin-top: 1em;
    "
  ></div>

  <div class="color-legend">
    <h2>Légende des couleurs</h2>
    <ul class="list-unstyled">
      <li>
        <span class="color-box" style="background-color: #ffa500"></span>
        En attente
      </li>
      <li>
        <span class="color-box" style="background-color: #1e90ff"></span>
        En cours de démarrage
      </li>
      <li>
        <span class="color-box" style="background-color: #32cd32"></span>
        Terminé
      </li>
      <li>
        <span class="color-box" style="background-color: #ff69b4"></span>
        En attente de validation
      </li>
    </ul>
  </div>
</div>
