.stats-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.stat-card,
.chart-card {
  flex: 0 0 auto;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.chart-circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

.table th,
.table td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: justify;
}

.table th {
  font-weight: bold;
}

.table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tbody tr:hover {
  background-color: #e0e0e0;
}

.card {
  margin-top: 20px;
}
