h1.center-content,
h2.center-content {
  color: #333; /* dark grey color */
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

.all-projects-section {
  padding: 20px;
  background-color: #f8f9fa; /* Light grey color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Shadow effect */
  border-radius: 10px; /* Rounded corners */
  margin-bottom: 20px; /* Adds space between the sections */
}

.filter-section {
  padding: 20px;
  background-color: #fff; /* White color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); /* Shadow effect */
  border-radius: 10px; /* Rounded corners */
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center-content-vertically {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  margin-bottom: 20px;
  border-radius: 10px; /* Rounded corners */
}

.card-title {
  color: #333; /* dark grey color */
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
}

.table {
  margin-bottom: 0;
}

td,
th {
  text-align: center;
  vertical-align: middle;
}
