<mat-sidenav-container autosize>
  <mat-sidenav #sidenav mode="side" opened="isExpanded">
    <mat-nav-list
      (mouseenter)="isExpanded = true"
      (mouseleave)="isExpanded = false"
    >
      <!-- <div class="logo-container">
        <img src="assets/images/logo.png" alt="Logo" class="logo" />
      </div> -->
      <div class="logo-container">
        <img
          [src]="
            isExpanded ? 'assets/images/logo.png' : 'assets/images/logo-min.png'
          "
          alt="Logo"
          class="logo"
        />
      </div>
      <mat-list-item>
        <mat-icon
          mat-list-icon
          class="chevron-button"
          [ngClass]="{ rotated: isExpanded }"
          >chevron_right
        </mat-icon>
      </mat-list-item>

      <mat-list-item
        *ngIf="
          authService.userRole === 'ROLE_ADMIN' ||
          authService.userRole === 'ROLE_USER'
        "
        [routerLink]="'/home'"
      >
        <mat-icon mat-list-icon>home</mat-icon>
        <span
          style="width: 100%; text-align: center"
          *ngIf="isExpanded"
          class="menu-item"
          >Home</span
        >
      </mat-list-item>

      <mat-list-item
        *ngIf="authService.userRole === 'ROLE_ADMIN'"
        [routerLink]="'/dashboardGrid'"
      >
        <mat-icon mat-list-icon>dashboard</mat-icon>
        <span
          style="width: 100%; text-align: center"
          *ngIf="isExpanded"
          class="menu-item"
          >Dashboard</span
        >
      </mat-list-item>

      <mat-list-item
        *ngIf="authService.userRole === 'ROLE_USER'"
        [routerLink]="'/taskListUser'"
      >
        <mat-icon mat-list-icon>view_list</mat-icon>
        <span
          style="width: 100%; text-align: center"
          *ngIf="isExpanded"
          class="menu-item"
        >
          User Task List
        </span>
      </mat-list-item>

      <mat-list-item (click)="notificationsSidenav.toggle()">
        <mat-icon mat-list-icon>notifications_none</mat-icon>
        <span *ngIf="isExpanded" class="menu-item">Notification</span>
      </mat-list-item>

      <mat-list-item
        *ngIf="authService.userRole === 'ROLE_ADMIN'"
        [routerLink]="'/actionGrid'"
      >
        <mat-icon mat-list-icon>library_add</mat-icon>
        <span
          style="width: 100%; text-align: center"
          *ngIf="isExpanded"
          class="menu-item"
          >Actions</span
        >
      </mat-list-item>

      <mat-list-item
        *ngIf="
          authService.userRole === 'ROLE_ADMIN' ||
          authService.userRole === 'ROLE_USER'
        "
        [routerLink]="'/validateTask'"
      >
        <mat-icon mat-list-icon>done_outline</mat-icon>
        <span
          style="width: 100%; text-align: center"
          *ngIf="isExpanded"
          class="menu-item"
          >Valider</span
        >
      </mat-list-item>

      <mat-list-item (click)="authService.logout()">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        <span
          style="width: 100%; text-align: center"
          *ngIf="isExpanded"
          class="menu-item"
          >Quitter</span
        >
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Content - rendered Content for the current router path into the <router-outlet>, e.g. /dashboard or /info-->
  <mat-sidenav-content>
    <mat-sidenav-container>
      <mat-sidenav
        #notificationsSidenav
        mode="over"
        position="start"
        class="notifications-sidenav"
      >
        <app-notifications
          (closeSidenav)="notificationsSidenav.close()"
        ></app-notifications>
      </mat-sidenav>
      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </mat-sidenav-content>
</mat-sidenav-container>
