<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Ajouter un utilisateur</h2>
    <button
      mat-icon-button
      [routerLink]="['/manageUserGrid']"
      class="btn btn-light"
    >
      <i class="material-icons">arrow_back</i>
    </button>
  </div>

  <form
    [formGroup]="userForm"
    (ngSubmit)="onSubmit()"
    class="bg-white px-5 py-4 rounded"
  >
    <div class="form-group">
      <label for="fullName">Nom complet</label>
      <input
        type="text"
        formControlName="fullName"
        class="form-control"
        id="fullName"
      />
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        formControlName="email"
        class="form-control"
        id="email"
      />
    </div>

    <div class="form-group">
      <label for="roleName">Role</label>
      <select formControlName="roleName" class="form-control" id="roleNaùe">
        <option
          *ngFor="let role of roles"
          [value]="role.name"
          class="form-control"
        >
          {{ role.name }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="passwordHash">Mot de passe</label>
      <input
        type="text"
        formControlName="passwordHash"
        class="form-control"
        id="passwordHash"
      />
    </div>
    <div class="form-group" [formGroup]="passwordForm">
      <label for="passwordLength"
        >Longueur du mot de passe:
        {{ passwordForm.get("passwordLength")?.value }}</label
      >
      <input
        type="range"
        id="passwordLength"
        formControlName="passwordLength"
        class="form-control-range"
        min="1"
        max="32"
      />
    </div>
    <div class="form-check" [formGroup]="passwordForm">
      <input
        type="checkbox"
        id="useNumbers"
        formControlName="useNumbers"
        class="form-check-input"
      />
      <label class="form-check-label" for="useNumbers"
        >Utiliser des chiffres</label
      >
    </div>
    <div class="form-check" [formGroup]="passwordForm">
      <input
        type="checkbox"
        id="useUppercase"
        formControlName="useUppercase"
        class="form-check-input"
      />
      <label class="form-check-label" for="useUppercase"
        >Utiliser des lettres majuscules</label
      >
    </div>
    <div class="form-check" [formGroup]="passwordForm">
      <input
        type="checkbox"
        id="useSpecialCharacters"
        formControlName="useSpecialCharacters"
        class="form-check-input"
      />
      <label class="form-check-label" for="useSpecialCharacters"
        >Utiliser des caractères spéciaux</label
      >
    </div>
    <button (click)="generatePassword()" class="btn btn-secondary">
      Générer un mot de passe
    </button>

    <!-- ... rest of your form -->

    <div class="form-group">
      <label for="phoneNumber">Numéro de téléphone</label>
      <input
        type="tel"
        formControlName="phoneNumber"
        class="form-control"
        id="phoneNumber"
      />
    </div>
    <div class="form-group">
      <label for="address">Adresse</label>
      <input
        type="text"
        formControlName="address"
        class="form-control"
        id="address"
      />
    </div>
    <div class="form-group">
      <label for="profilePicture">Photo de profil</label>
      <input
        type="file"
        class="form-control-file"
        id="profilePicture"
        (change)="onFileChange($event)"
      />
    </div>
    <div class="form-group">
      <label for="jobId">Titre du profil</label>
      <select formControlName="jobId" class="form-control" id="jobId">
        <option *ngFor="let job of jobs" [value]="job.id" class="form-control">
          {{ job.title }}
        </option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Créer un utilisateur</button>
  </form>
  <button class="btn btn-secondary mt-3" [routerLink]="'/listUsers'">
    Consulter la liste des utilisateurs
  </button>
</div>
