<section
  class="pt-5 pb-5 mt-0 align-items-center d-flex bg-dark"
  style="
    min-height: 90vh;
    background-size: cover;
    background-image: url('assets/images/i2s_cover.jpg');
  "
>
  <div class="container-fluid">
    <div
      class="row justify-content-center align-items-center d-flex-row text-center h-100"
    >
      <div
        class="col-12 col-md-12"
        style="
          background-color: rgba(0, 0, 0, 0.5);
          border-radius: 10px;
          margin-bottom: 20px;
          padding: 20px;
        "
      >
        <h1 class="text-white" style="font-family: 'Bebas Neue', cursive">
          I2S INGENIERIE
        </h1>
        <p class="text-white">
          Nous nous engageons à accompagner votre succès, en mettant en avant
          notre réactivité, notre engagement et notre efficacité.
        </p>
      </div>
      <div class="col-12 col-md-4 col-lg-3 h-50">
        <div class="card shadow">
          <div class="card-body mx-auto">
            <h2 class="text-center">Log in now</h2>
            <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-user"></i>
                  </span>
                </div>
                <input
                  type="text"
                  id="username"
                  [(ngModel)]="username"
                  name="username"
                  required
                  class="form-control"
                  placeholder="Username"
                />
              </div>
              <div class="form-group input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-lock"></i>
                  </span>
                </div>
                <input
                  type="password"
                  id="password"
                  [(ngModel)]="password"
                  name="password"
                  required
                  class="form-control"
                  placeholder="Password"
                />
              </div>
              <div class="form-group">
                <button
                  type="submit"
                  class="btn btn-primary btn-block"
                  [disabled]="!loginForm.valid"
                >
                  Log in
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<footer
  class="text-center text-white bg-dark pt-3 pb-3"
  style="min-height: 3vh"
>
  <p class="mb-0">Tous les droits d'auteur réservés © 2023 - I2S Ingenierie</p>
</footer>
