<div class="container d-flex align-items-start min-vh-100">
  <div class="card shadow mx-auto p-3 w-75">
    <h1 class="text-center">Personnalisation des Étapes pour votre Projet</h1>
    <div class="project-details my-3 pt-2">
      <h2 class="bg-light text-black p-2">Détails du projet</h2>
      <table class="table table-sm">
        <tr>
          <td><strong>Nom du projet :</strong></td>
          <td>{{ projectVals.projectName }}</td>
        </tr>
        <tr>
          <td><strong>Description:</strong></td>
          <td>{{ projectVals.description }}</td>
        </tr>
      </table>
    </div>

    <div class="form-data-grid-container pt-2">
      <h2 class="text-center bg-light text-black p-2">
        Définition des étapes du projet
      </h2>
      <form [formGroup]="stepForm" (ngSubmit)="onSubmit()" class="mb-4">
        <div class="form-group">
          <label for="phase">Nom de phase:</label>
          <select formControlName="phase" class="form-control">
            <option *ngFor="let phase of phaseList" [ngValue]="phase">
              {{ phase.phaseName }}
            </option>
          </select>
        </div>
        <div class="form-group">
          <label for="step-name">Nom de l'étape:</label>
          <input
            id="step-name"
            type="text"
            formControlName="stepName"
            class="form-control"
            required
          />
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <input
            id="description"
            type="text"
            formControlName="description"
            class="form-control"
            required
          />
        </div>
        <div class="py-3">
          <button
            name="add-step"
            type="button"
            class="btn btn-primary"
            (click)="saveStep()"
          >
            Ajouter une étape
          </button>
        </div>
        <h2 class="text-center bg-light text-black p-2">
          Étapes du projet par phase
        </h2>
        <table class="table table-hover">
          <tr>
            <th>Numéro d'étape</th>
            <th>Nom de l'étape</th>
            <th>Description</th>
            <th></th>
            <th></th>
          </tr>
          <ng-container *ngFor="let phase of phaseList; let i = index">
            <tr class="table-dark">
              <td colspan="5">
                <p>
                  <strong>Numéro de phase :</strong> {{ i + 1 }} -
                  <strong>Nom de la phase :</strong> {{ phase.phaseName }} -
                  <strong>Description :</strong> {{ phase.description }}
                </p>
              </td>
            </tr>
            <ng-container *ngFor="let step of phase.steps; let k = index">
              <tr>
                <td>{{ k + 1 }}</td>
                <td>{{ step.stepName }}</td>
                <td>{{ step.description }}</td>
                <td>
                  <button
                    name="expand-update"
                    type="button"
                    class="btn btn-primary"
                    (click)="expandUpdate(i, k)"
                  >
                    <mat-icon>edit</mat-icon>
                  </button>
                </td>
                <td>
                  <button
                    name="delete-phase"
                    type="button"
                    class="btn btn-danger"
                    (click)="deleteStep(i, k)"
                  >
                    <mat-icon>delete_forever</mat-icon>
                  </button>
                </td>
              </tr>
              <tr *ngIf="step.isExpanded">
                <td
                  colspan="5"
                  class="bg-light p-3 my-4 border rounded shadow pt-5"
                >
                  <h2 class="text-primary">
                    Veuillez remplir le formulaire ci-dessous pour mettre à jour
                    les étapes du projet.
                  </h2>
                  <div class="form-group">
                    <label for="new-phase">Nom de phase:</label>
                    <select formControlName="newPhase" class="form-control">
                      <option *ngFor="let phase of phaseList" [ngValue]="phase">
                        {{ phase.phaseName }}
                      </option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="new-step-name">Nom de l'étape:</label>
                    <input
                      id="new-step-name"
                      type="text"
                      formControlName="newStepName"
                      class="form-control"
                      required
                    />
                  </div>
                  <div class="form-group">
                    <label for="new-description">Description:</label>
                    <input
                      id="new-description"
                      type="text"
                      formControlName="newDescription"
                      class="form-control"
                      required
                    />
                  </div>
                  <div class="py-3">
                    <button
                      name="update-phase"
                      type="button"
                      class="btn btn-dark btn-block"
                      (click)="updateStep(i, k)"
                    >
                      <mat-icon>update</mat-icon>
                    </button>
                  </div>
                </td>
              </tr>
            </ng-container>
          </ng-container>
        </table>

        <div class="d-flex justify-content-end">
          <button type="submit" name="submit" class="btn btn-primary">
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
