<button (click)="navigateToTaskListUser()">Back to Task List</button>
<div *ngIf="task">
  <h1>Step informations:</h1>
  <div *ngIf="step">
    <h3>Step Name: {{ step.stepName }}</h3>
    <p>Description: {{ step.description }}</p>
  </div>
  <h1>Task informations:</h1>
  <h2>Task Name: {{ task.taskName }}</h2>
  <p>Description: {{ task.description }}</p>
  <p><strong>Instructions:</strong> {{ task.instructions }}</p>
  <div *ngIf="unexecutedMethods.length > 0">
    <h3>Methods</h3>
    <ul>
      <li *ngFor="let item of unexecutedMethods">
        <ng-container *ngIf="item.method">
          Method Name: {{ item.method.methodName }}
        </ng-container>
      </li>
    </ul>
  </div>

  <div *ngIf="files.length > 0">
    <h3>Files</h3>
    <ul>
      <li *ngFor="let file of files">
        File Name: {{ file.fileName }} ({{ (file.size / 1048576).toFixed(2) }}
        MB)
        <button *ngIf="file.id" (click)="downloadFile(file.id)">
          Download
        </button>
      </li>
    </ul>
  </div>

  <div *ngIf="task && task.feedbacks && task.feedbacks.length > 0">
    <h3>Feedbacks</h3>
    <ul>
      <li *ngFor="let feedback of task.feedbacks">
        <p><strong>Feedback Message:</strong> {{ feedback?.['message'] }}</p>
        <p>
          <strong>Date:</strong>
          {{ feedback?.['feedbackDate'] | date:'medium' }} ,
          <strong>User:</strong>
          {{ feedback && feedback.userId && users[feedback.userId].fullName }}
          <strong>Job:</strong>
          {{ feedback && feedback.userId && jobs[feedback.userId].title }}
        </p>
      </li>
    </ul>
  </div>

  <div *ngIf="unexecutedMethods.length > 0">
    <h3>Methods</h3>
    <form (ngSubmit)="submitForm()">
      <ng-container *ngFor="let item of unexecutedMethods">
        <h4>{{ item.method?.methodName }}</h4>
        <div *ngFor="let parameter of item.method?.parameters">
          <label
            for="{{ item.methodExecution.id }}_{{ parameter.parameterName }}"
            >{{ parameter.parameterName }} ({{
              parameter.parameterType
            }})</label
          >
          <input
            id="{{ item.methodExecution.id }}_{{ parameter.parameterName }}"
            [type]="getParameterInputType(parameter.parameterType)"
            [(ngModel)]="item.inputs[parameter.parameterName]"
            name="{{ item.methodExecution.id }}_{{ parameter.parameterName }}"
          />
        </div>
      </ng-container>
      <button type="submit">Submit All</button>
    </form>
  </div>
</div>
