<h1 style="text-align: center">Ajouter un Projet</h1>
<form [formGroup]="projectForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="project-name"> Nom du Projet:</label>
    <input
      id="project-name"
      type="text"
      formControlName="projectName"
      required
    />
  </div>
  <div
    *ngIf="
      projectForm.controls['projectName'].invalid &&
      (projectForm.controls['projectName'].touched ||
        projectForm.controls['projectName'].dirty)
    "
    class="error-display"
  >
    <div *ngIf="projectForm.controls['projectName'].errors?.['required']">
      Veuillez remplir ce champ; ne pas laisser ce champ vide.
    </div>
    <div
      *ngIf="projectForm.controls['projectName'].errors?.['invalidNameOfProject']"
    >
      Le nom saisi est invalide. Veuillez saisir un nom valide.
    </div>
  </div>
  <div>
    <label for="description"> Description:</label>
    <input id="description" type="text" formControlName="description" />
  </div>
  <div>
    <button type="submit" [disabled]="!projectForm.valid">Submit</button>
  </div>
</form>
