<h1 class="center-content">Section des filtres</h1>
<div class="container">
  <!-- Filter Form -->
  <form [formGroup]="filterForm" class="mb-5">
    <div class="row">
      <div class="col-sm-4">
        <div class="form-group">
          <label for="Project Name">Nom du projet: </label>
          <select
            formControlName="project"
            (change)="onProjectSelected()"
            class="form-control"
          >
            <option [ngValue]="null">---</option>
            <option *ngFor="let project of projectList" [ngValue]="project">
              {{ project.projectName }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="Phase Name"> Nom de la phase: </label>
          <select
            formControlName="phase"
            (change)="onPhaseSelected()"
            class="form-control"
          >
            <option [ngValue]="null">---</option>
            <option *ngFor="let phase of phaseList" [ngValue]="phase">
              {{ phase.phaseName }}
            </option>
          </select>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="Step Name"> Nom de l'étape: </label>
          <select
            formControlName="step"
            (change)="onStepSelected()"
            class="form-control"
          >
            <option [ngValue]="[]">---</option>
            <option *ngFor="let step of stepList" [ngValue]="step">
              {{ step.stepName }}
            </option>
          </select>
        </div>
      </div>
    </div>

    <div class="text-center pt-4">
      <button (click)="resetFilters()" class="btn btn-danger">
        Supprimer les filtres
      </button>
    </div>
  </form>

  <div class="object-of-stats text-center mb-5">
    <p *ngIf="!selectedProject" class="alert alert-warning">
      Veuillez sélectionner un projet pour consulter ses statistiques. Vous
      pouvez préciser davantage la phase et l'étape pour obtenir des
      statistiques plus détaillées.
    </p>
    <ng-container *ngIf="selectedProject">
      <p style="font-size: 1.5em">
        Les statistiques affichées ci-dessous concernent :
      </p>
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <th>Projet:</th>
            <td>{{ selectedProject.projectName }}</td>
          </tr>
          <tr *ngIf="selectedPhase">
            <th>Phase:</th>
            <td>{{ selectedPhase.phaseName }}</td>
          </tr>
          <tr *ngIf="selectedStep">
            <th>Étape:</th>
            <td>{{ selectedStep.stepName }}</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>

  <div>
    <h2 class="mb-4 center-content">Statistiques filtrées</h2>

    <div class="row">
      <div class="col-lg-12">
        <!-- Increase width to full on large screens -->

        <!-- Table with Data Grid -->
        <div class="row justify-content-center">
          <div class="col-lg-8">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Nombre de tâches par statut</h2>
                <div class="table-responsive">
                  <table class="table table-striped table-bordered">
                    <thead>
                      <tr>
                        <th>Statut :</th>
                        <th>En attente</th>
                        <th>En cours de démarrage</th>
                        <th>En attente de validation</th>
                        <th>Terminé</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th>Nombre :</th>
                        <td>{{ pendingTasks }}</td>
                        <td>{{ startingTasks }}</td>
                        <td>{{ waitingForValidationTasks }}</td>
                        <td>{{ finishedTasks }}</td>
                      </tr>
                      <tr>
                        <th>Total des tâches dans le projet :</th>
                        <td colspan="4">
                          {{
                            pendingTasks +
                            startingTasks +
                            waitingForValidationTasks +
                            finishedTasks
                              ? pendingTasks +
                                startingTasks +
                                waitingForValidationTasks +
                                finishedTasks
                              : null
                          }}
                        </td>
                      </tr>
                      <tr>
                        <th>Total des phases dans le projet</th>
                        <td colspan="4">{{ phases }}</td>
                      </tr>
                      <tr>
                        <th>Total des étapes dans le projet</th>
                        <td colspan="4">{{ steps }}</td>
                      </tr>
                      <tr *ngIf="selectedPhase">
                        <th>Total des étapes dans la phase</th>
                        <td colspan="4">{{ stepsInPhase }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-body center-content center-content-vertically">
            <h2 class="card-title">Répartition des tâches par statut</h2>
            <ngx-charts-bar-vertical
              [view]="[700, 400]"
              [scheme]="colorScheme"
              [results]="barChartData"
              [gradient]="false"
              [xAxis]="true"
              [yAxis]="true"
              [legend]="true"
              [showXAxisLabel]="true"
              [showYAxisLabel]="true"
              [xAxisLabel]="'Task Status'"
              [yAxisLabel]="'Number of Tasks'"
            >
            </ngx-charts-bar-vertical>
          </div>
        </div>
      </div>
    </div>

    <!-- Project Completion Statistics Section -->
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body center-content center-content-vertically">
            <h2 class="card-title">Taux d'achèvement</h2>
            <ngx-charts-gauge
              [view]="[400, 400]"
              [scheme]="colorScheme"
              [results]="gaugeDataOfCompletionRate"
              [min]="0"
              [max]="100"
              [angleSpan]="240"
              [startAngle]="-120"
              [units]="'%'"
              [bigSegments]="10"
              [smallSegments]="5"
              [showAxis]="true"
            ></ngx-charts-gauge>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body center-content center-content-vertically">
            <h2 class="card-title">Temps moyen d'achèvement</h2>
            <ngx-charts-gauge
              [view]="[400, 400]"
              [scheme]="colorScheme"
              [results]="gaugeDataOfAverageCompletionTime"
              [min]="0"
              [max]="100"
              [angleSpan]="240"
              [startAngle]="-120"
              [units]="'Hours'"
              [bigSegments]="10"
              [smallSegments]="5"
              [showAxis]="true"
            ></ngx-charts-gauge>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
