.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  color: #000;
}

.success {
  background-color: #f3f8f2;
  border-color: #c3e6cb;
  color: #155724;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

button {
  background-color: #155724;
  border: none;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0f401c;
}

.subtitle {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  margin-bottom: 5px;
}

.list li p {
  margin-bottom: 5px;
}

.list li ul {
  padding-left: 20px;
}

.col {
  flex: 1;
}

.row {
  display: flex;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .row {
    flex-direction: column;
  }
}

.datagrid {
  border-collapse: collapse;
  width: 100%;
}

.datagrid th,
.datagrid td {
  padding: 12px 15px;
  text-align: left;
}

.datagrid th {
  background-color: #f3f8f2;
  color: #155724;
  border-bottom: 2px solid #c3e6cb;
}

.datagrid td {
  border-bottom: 1px solid #c3e6cb;
}

.datagrid tr:last-child td {
  border-bottom: none;
}
