<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Veuillez sélectionner une option ci-dessous pour commencer.</h2>
    <button
      mat-icon-button
      [routerLink]="['/actionGrid']"
      class="btn btn-light"
    >
      <i class="material-icons">arrow_back</i>
    </button>
  </div>
  <mat-grid-list cols="2" rowHeight="4:1">
    <mat-grid-tile [routerLink]="'/listJobs'">
      <mat-icon>view_list</mat-icon>
      List all Jobs
    </mat-grid-tile>
    <mat-grid-tile [routerLink]="'/addJob'">
      <mat-icon>add_circle_outline</mat-icon>
      Add Job
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-icon>filter_3</mat-icon>
      3
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-icon>filter_4</mat-icon>
      4
    </mat-grid-tile>
  </mat-grid-list>
</div>
