.container {
  margin-top: 2rem;
  width: 100%;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
  width: 100%;
}

.mat-row,
.mat-header-row {
  width: 100% !important;
  transition: background 0.3s ease;
}

.mat-row:hover {
  background: rgba(0, 0, 0, 0.04);
}
.mat-cell,
.mat-header-cell {
  text-align: center;
}

.mat-row:hover.mat-row-disabled {
  background: inherit;
}

.mat-row.mat-row-disabled {
  cursor: not-allowed;
}

.no-tasks-message {
  margin-top: 1rem;
}

.title {
  margin-bottom: 1rem;
}
.example-element-detail {
  overflow: hidden;
  width: 100%;
  text-align: center;
}
