form {
  max-width: 800px; /* increase the max-width for larger forms */
  margin: 0 auto;
  padding: 30px; /* increase the padding for better spacing */
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 40px; /* add some more margin */
  font-size: 2em; /* increase the font size */
}

label {
  display: block;
  margin-bottom: 10px;
  font-size: 1.2em; /* increase the font size */
}

input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 20px;
  font-size: 1em; /* set the font size */
}

.add-button {
  width: 100px;
  height: 40px;
  transition: background-color 0.3s ease; /* add transition for smooth color change */
}

.toggle-margin {
  margin-bottom: 20px;
}

button[type="submit"] {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 20px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease; /* add transition for smooth color change */
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}

button[type="button"] {
  font-size: 0.8em; /* make the font a bit smaller */
  transition: background-color 0.3s ease; /* add transition for smooth color change */
}

button[type="button"]:hover {
  background-color: #f57c00; /* change color on hover */
}

/* Bootstrap responsiveness */
@media (min-width: 768px) {
  .d-flex {
    flex-direction: row;
  }
}

@media (max-width: 768px) {
  .d-flex {
    flex-direction: column;
  }
}
