<h1>Add Task</h1>
<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="Project Name">Project Name: </label>
    <select formControlName="project" (change)="onProjectSelected()">
      <option *ngFor="let project of projectList" [ngValue]="project">
        {{ project.projectName }}
      </option>
    </select>
  </div>
  <!-- Load Phases on Project Change -->
  <div>
    <label for="Phase Name"> Phase Name: </label>
    <select formControlName="phase" (change)="onPhaseSelected()">
      <option [ngValue]="null">---</option>
      <option *ngFor="let phase of phaseList" [ngValue]="phase">
        {{ phase.phaseName }}
      </option>
    </select>
  </div>
  <!-- Load Steps on Phase Change -->
  <div>
    <label for="Step Name"> Step Name: </label>
    <select formControlName="step">
      <option [ngValue]="null">---</option>
      <option *ngFor="let step of stepList" [ngValue]="step">
        {{ step.stepName }}
      </option>
    </select>
  </div>

  <div>
    <label for="task-name">Task Name:</label>
    <input id="task-name" type="text" formControlName="taskName" required />
  </div>

  <div>
    <label for="description">Description: </label>
    <input
      id="description"
      type="text"
      formControlName="description"
      required
    />
  </div>

  <div>
    <label for="task-name">Assigned Jobs:</label>
    <mat-form-field appearance="fill">
      <mat-label>Assigned Jobs</mat-label>
      <mat-select formControlName="assignedJobs" multiple>
        <mat-option *ngFor="let job of jobList" [value]="job">{{
          job.title
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div>
    <label for="task-name">Parent Task:</label>
    <mat-form-field appearance="fill">
      <mat-label> Parent Task</mat-label>
      <mat-select formControlName="parentTask" multiple>
        <mat-option Value="null"
          >Aucune tâche précédente (première tâche)
        </mat-option>
        <mat-option *ngFor="let task of taskList" [value]="task">{{
          task
        }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <h3>Actions :</h3>

  <div>
    <label for="task-name">Upload File:</label>
    <input id="file" type="file" formControlName="file" required />
  </div>

  <div>
    <label for="send-mail">Send Mail:</label>
    <input
      id="send-mail"
      type="checkbox"
      formControlName="shouldSendMail"
      required
    />
  </div>

  <div>
    <button type="submit" name="submit">Submit</button>
  </div>
</form>
