<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Détails de la tâche</h2>
    <a href="/taskListUser" class="btn btn-light">
      <i class="material-icons">arrow_back</i>
    </a>
  </div>

  <div *ngIf="task" class="card my-3">
    <div class="card-body">
      <h5 class="card-title">{{ step?.stepName }} {{ step?.description }}</h5>
      <p class="card-text">
        <strong>Description de l'étape : </strong>{{ step?.description }}
        <br />
        <strong>Task ID: </strong>{{ task.id }}
        <br />
        <strong>Nom: </strong>{{ task.taskName }}
        <br />
        <strong>Description: </strong>{{ task.description }}
        <br />
        <strong>Instructions: </strong>{{ task.instructions }}
        <br />
        <strong>Statut: </strong>{{ task.status }}
      </p>
    </div>
  </div>

  <h3>Détails de la méthode</h3>
  <div *ngIf="methods.length">
    <div *ngFor="let methodExecution of methodExecutions" class="card my-3">
      <div class="card-body">
        <ng-container *ngIf="getMethodById(methodExecution.methodId) as method">
          <p><strong> Nom de la méthode : </strong>{{ method.methodName }}</p>
        </ng-container>
        <p
          [ngClass]="{
            'text-success': methodExecution.status === 'SUCCESS',
            'text-danger': methodExecution.status === 'FAILURE'
          }"
        >
          <strong>Statut d'exécution (ID {{ methodExecution.id }}): </strong
          >{{ methodExecution.status }}
        </p>
      </div>
    </div>
  </div>

  <div class="verification-actions text-center my-5">
    <h2>Vérifier la tâche</h2>
    <button (click)="markAsFailed()" class="btn btn-danger m-2">
      Marquer comme échoué
    </button>
    <button (click)="markAsPassed()" class="btn btn-success m-2">
      Marquer comme réussi
    </button>
  </div>
</div>
