<div class="container py-5">
  <div class="d-flex justify-content-between align-items-center">
    <h2>Task Details</h2>
    <a href="/taskListUser" class="btn btn-light">
      <i class="material-icons">arrow_back</i>
    </a>
  </div>

  <div *ngIf="task" class="card my-3">
    <div class="card-body">
      <h5 class="card-title">{{ step?.stepName }} {{ step?.description }}</h5>
      <p class="card-text">
        <strong>Step Description: </strong>{{ step?.description }}
        <br />
        <strong>Task ID: </strong>{{ task.id }}
        <br />
        <strong>Name: </strong>{{ task.taskName }}
        <br />
        <strong>Description: </strong>{{ task.description }}
        <br />
        <strong>Instructions: </strong>{{ task.instructions }}
        <br />
        <strong>Status: </strong>{{ task.status }}
      </p>
    </div>
  </div>

  <h3>Method Details</h3>
  <div *ngIf="methods.length">
    <div *ngFor="let methodExecution of methodExecutions" class="card my-3">
      <div class="card-body">
        <ng-container *ngIf="getMethodById(methodExecution.methodId) as method">
          <p><strong>Method Name: </strong>{{ method.methodName }}</p>
        </ng-container>
        <p
          [ngClass]="{
            'text-success': methodExecution.status === 'SUCCESS',
            'text-danger': methodExecution.status === 'FAILURE'
          }"
        >
          <strong>Execution Status (ID {{ methodExecution.id }}): </strong
          >{{ methodExecution.status }}
        </p>
      </div>
    </div>
  </div>

  <div class="verification-actions text-center my-5">
    <h2>Verify the task</h2>
    <button (click)="markAsFailed()" class="btn btn-danger m-2">
      Mark as Failed
    </button>
    <button (click)="markAsPassed()" class="btn btn-success m-2">
      Mark as Passed
    </button>
  </div>
</div>
